body{
    margin: 0;
    padding: 0;
    background: #000;
    font-family: "Madimi One", sans-serif;
}

header{
    width: 100%;
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 10px solid white;
    box-sizing: border-box;
    display: inline-block;
}

.div_imagen img{
    width: 10%;
}

.menu-elements {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

.bienvenida{
    width: 100%;
    height: 50%;
    background-color: #fff;
    background-image: url("imágenes/1.png");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 50px; 
}

.bienvenida h1{
    margin: 0;
    padding-top: 50px;
}

.bienvenida p{
    margin: 0;
    padding-bottom: 50px;
}

.ventana_suscripcion{
    background-color: #fff;
    width: auto;
    height: 100%;
}

.ventana_suscripcion p{
    text-align: center;
    font-size: 30px;
}

.boton_join{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    width: 50%;
    border-radius: 50px;
    font-family: "Madimi One", sans-serif;
}

.modelos{
    width: 100%;
    height: 1000px;
    color: #fff;
    text-align: center;
}

/*ACÁ INICIA EL FOOTER*/
footer{
    background-color: #000;
    border-top: 5px solid #f00;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}